<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sztorm.notecalendar">

    <application
        android:name="com.sztorm.notecalendar.NoteCalendarApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/icon_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NoteCalendar">

        <activity
            android:name="com.sztorm.notecalendar.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <receiver android:name=".NoteNotificationReceiver" android:enabled="true" />
        <meta-data android:name="DATABASE" android:value="note_calendar.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.sztorm" />

    </application>

</manifest>